:root {
  --purple: #2a2f81;
  --black: #232431;
  --pink: #ff059d;
  --gray: #c4c4cb;
  --gray-light-1: #eeeeef;
  --gray-light-2: #f5f8fb;
  --coral: #fbabab;
  --orange: #ff8b5c;
  --teal: #25c7eb;
  --white: #fff;
  --titleFont: 'Poppins', sans-serif;
  --bodyFont: 'Muli', sans-serif;
}
