.navigation {
  width: 100%;
  background-color: var(--white);
  height: 11rem;
  padding: 3rem;
  position: relative;
  display: flex;
  justify-content: space-between;

  @include screen-lg {
    padding: 4rem 14rem;
  }

  &__logo {
    position: relative;
    top: -3px;

    @include screen-sm {
      top: -10px;
    }

    .logo__text {
      font-family: var(--titleFont);
      font-size: 1.6rem;
      font-weight: 600;
      display: block;
    }

    .logo__art {
      display: block;
      text-align: left;
      margin-top: .3rem;

      @include screen-md {
        text-align: right;
      }
    }
  }
}

.logo__art #zigzag {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: stroke 30s linear forwards;
}
